.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
build
*.egg-info
dist

.pyenv_dda
dataset/mnist/train-images-idx3-ubyte.gz
dataset/mnist/train-labels-idx1-ubyte.gz
dataset/mnist/t10k-images-idx3-ubyte.gz
dataset/mnist/t10k-labels-idx1-ubyte.gz
dataset/svhn/train_32x32.mat
dataset/svhn/test_32x32.mat
dataset/svhn/extra_32x32.mat

checkpoint
tfrecord

.pyenv
